<div class="container">

    <div class="row content">
        <div class="col-md-7">
            <div id="map" style="width:645px; height:570px"></div>
        </div>
        <!-- Side Panel -->
        <div class="col-md-5">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Testing, yeah, yeah, yeah <span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                    <form name ="addForm" novalidate>
                        <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="What should we call ya?" ng-model="formData.username" required>
                        </div>
                        <label class="radio control-label">Gender</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="radiomale" value="Male" ng-model="formData.gender">
                                Male
                            </label>
                        </div>
                        <div class="radio" required>
                            <label>
                                <input type="radio" name="optionsRadios" id="radiofemale" value="Female" ng-model="formData.gender">
                                Female
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="number" class="form-control" id="age" placeholder="'bout how old are ya?" ng-model="formData.age">
                        </div>
                        <div class="form-group">
                            <label for="latitude">Latitude</label>
                            <input type="text" class="form-control" id="latitude" placeholder="39.500" ng-model="formData.latitude">
                        </div>
                        <div class="form-group">
                            <label for="longitude">Longitude</label>
                            <input type="text" class="form-control" id="longitude" placeholder="-98.350" ng-model="formData.longitude">
                        </div>


                      <!--   <button type="submit" class="btn btn-danger btn-block" ng-click="getMyLocation()" ng-disabled="addForm.$invalid">Submit</button> -->


                        <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()" ng-disabled="addForm.$invalid">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
